/* Main Css file */
/*===============*/


/* Variables */
:root {
	--primary : #00fff8;
	--secondary : #333333;
    --light : #ffffff;
}


/* Classes */
.text-fav {
    color: var(--primary);
}

.text-first {
    color: dodgerblue;
}

.text-third {
    color: var(--light);
}

.bg-second {
    background-color: var(--secondary);
}

.master-bg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}


/* Styles */
body{
    padding: 0;
    margin: 0;
}


div#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: var(--secondary);
}

div#preloader > img {
    width: 12%;
    height: auto;
    background: transparent;
}

div#wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    padding-top: 7.5rem;
    background-color: var(--secondary);
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 10;
}

header > div#bar {
    background: var(--secondary);
    border-radius: 10px;
    width: 98%;
    padding: .75rem 4rem;
    margin: 1rem auto;
    border: 3px solid var(--primary);
}

div#bar > div > h1 {
    color: var(--primary);
    font-size: 2.2rem;
}

div#bar > div#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

div#bar > div#menu > span.tab-btn {
    color: #fff;
    font-size: 18px;
    transition: all .2s;
}

div#bar > div#menu > span.tab-btn.active, 
div#bar > div#menu > span.tab-btn:hover {
    font-weight: bold;
    transform: scale(1.2);
    margin: 0 10px;
    color: var(--primary);
}

div#wrapper > section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 3px;
    border: 1px solid var(--secondary);
    padding-top: 7rem;
    background-color: var(--light);
    transition: transform 1.5s;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

div#wrapper > section.active,
div#wrapper > section.new {
    z-index: 5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

p.typer-para {
    margin-left: 5rem;
    min-height: 200px;
}


/* Skill Section */

/* Cube */
.scene {
  width: 200px;
  height: 200px;
  margin: 80px auto;
  perspective: 600px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(18, 241, 252);
/*  line-height: 325px;*/
  padding-top: 32%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: var(--secondary);
  color: rgb(18, 241, 252);
}

.cube__face:hover {
    background-color: rgb(18, 241, 252);
    color: var(--secondary);
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); } 

div.skill-card {
    background-color: var(--secondary);
    transition: all .5s;
    z-index: 0;
}

div.skill-card:hover {
    transform: scale(1.1);
    z-index: 5;
}

section#portfolio a.btn-project {
    border: 3px solid #fff;
    background: transparent;
    color: var(--primary);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
}

section#portfolio a.btn-project > svg{
    display: inline-block;
    vertical-align: baseline;
}

section#portfolio a.btn-project:hover {
    border: 3px solid var(--primary);
    background: var(--primary);
    color: var(--secondary);
}

section#portfolio div.projectbox {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}

section#portfolio div.projectbox > div.row {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

div.projectbox div.projectlist {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 20rem;
}

div.projectbox div.projectlist h4 {
    position: relative;
}

div.projectbox div.projectlist > div:hover h4::after{
    content: '';
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    top: 40%;
    right: 10%;
}

div.projectbox div.projectlist > div.active > h4::after{
    content: '';
    position: absolute;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 50%;
    top: 40%;
    right: 10%;
}

div.projectinfo > div {
    display: none;
}

div.projectinfo > div.active {
    display: block;
}

form#contactform button[type="submit"] {
    border: 3px solid #fff;
    background: transparent;
    color: var(--primary);
    padding: 5px 15px;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
}

form#contactform button[type="submit"]:hover {
    border: 3px solid var(--primary);
    background: var(--primary);
    color: var(--secondary);
}


@media screen and (max-width: 700px) {

    div#bar > div > h1 {
        font-size: 2rem;
        text-align: center;
    }

    div#bar > div:first-child {
        border-bottom: 1px dotted var(--primary);
        margin-bottom: 10px;
    }

    header > div#bar {
        width: 95%;
        margin: 10px auto;
        padding: .75rem 1rem;
        border-radius: 5px;
    }

    div#intro div.typeme {

    }

    p.typer-para {
        min-height: 120px;
        margin-left: 1rem;
    }

    .scene {
        margin: 40px auto;
    }

}